{% extends "coderedcms/pages/web_page.html" %}

{% load wagtailcore_tags wagtailimages_tags coderedcms_tags %}

{% block index_filters %}{% endblock %}


{% block index_content %}
{% if page.index_show_subpages %}
    <div class="container">
        {% if page.index_classifiers.exists %}
        <div class="row">
            <div class="col-md-9">
        {% endif %}

        {% for article in index_paginated %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="blog-card">
        {% else %}
        <div class="blog-card alt">
         {% endif %}
            <div class="meta">
            {% if article.cover_image %}
            {% image article.specific.cover_image fill-1000x500 as cover_image %}
                <div class="photo" style="background-image: url({{cover_image.url}})"></div>
            {% else %}
                <div class="photo" style="background-image: url(/static/website/images/Kreis_WCI.png); background-size: contain;background-repeat: no-repeat"></div>
            {% endif %}
            {% if self.show_meta %}
                    <ul class="details">
                        <li class="author">{% if article.specific.get_author_name %}{{article.specific.get_author_name}}{% endif %}</li>
                        <li class="date">{{article.specific.get_pub_date}}</li>
                    </ul>
            {% endif %}
            </div>
            <div class="description">
            <h1>{{article.title}}</h1>
            <h2></h2>
            {% if self.show_captions and article.specific.caption %}<p class="lead">{{article.specific.caption}}</p>{% endif %}
            {% if self.show_preview_text %}<p>{{article.specific.body_preview}}</p>{% endif %}
            <p class="read-more">
                <a  class="btn btn-primary" href="{% pageurl article %}">Read More</a>
            </p>
        </div>
    </div>        
        {% endfor %}
        {% if page.index_classifiers.exists %}
            </div>
            <div class="col-md-3">
                {% include "coderedcms/includes/classifier_nav.html" with navclass="nav-pills flex-column" %}
            </div>
        </div>
        {% endif %}

    {% include "coderedcms/includes/pagination.html" with items=index_paginated %}

</div>
{% endif %}
{% endblock %}
