{% extends "coderedcms/pages/base.html" %}
{% load static %}
{% load sass_tags %}

{% block custom_assets %}
{# Add your custom CSS here #}
<style>
    .w-dialog[aria-hidden=true]{
        display: none;
    }
</style>
<link href="{% sass_src 'website/css/theme.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'website/css/wecodeit.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'website/css/clean-blog.css' %}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>


<link href="{% static 'website/vendor/node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block custom_scripts %}
{# Add your custom JavaScript here, or delete the line below if you don't need any #}
<script type="text/javascript" src="{% static 'website/vendor/node_modules/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/wecodeit.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/clean-blog.js' %}"></script>
{% endblock %}
