{% extends "coderedcms/pages/web_page_notitle.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content_pre_body %}
  {% if self.cover_image %}
    {% image page.cover_image original as cover_image %}
    <header class="masthead" style="background-image: url({{cover_image.url}})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{% block headline %}{{ page.headline }}{% endblock %}</h1>
              <span class="subheading">{% block subheadline %}{{ page.sub_headline }}{% endblock %}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  {% else %}
  <div class="container my-5">
    <h1>{{page.title}}</h1>
  </div>
  {% endif %}
{% endblock %}
