// Here all the theming can be done
//
// Customized Color system (based on Yeti)
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ccc !default;
$gray-500: #adb5bd !default;
$gray-600: #888 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$blue:    #107387 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #e58d00 !default;
$yellow:  #f0ad4e !default;
$green:   #5cb85c !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$primary:       $blue !default;
$secondary:     $yellow !default;
$tertiary:      $gray-200 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $tertiary !default;
$dark:          $gray-900 !default;

$yiq-contrasted-threshold: 200 !default;

$link-color:    $primary !default;

@import '../vendor/node_modules/bootswatch/dist/flatly/variables';
@import '../vendor/node_modules/bootstrap/scss/bootstrap';
@import '../vendor/node_modules/bootswatch/dist/flatly/bootswatch';

@import 'wecodeit.scss';