{% load wagtailcore_tags %}

<div class="container{% if self.fluid %}-fluid bg-primary{% endif %}"
  {% if self.settings.custom_id %} id="{{self.settings.custom_id}}"{% endif %} >
  {% block grid_content %}
  {% if self.fluid %}<div class="container">{% endif %}
  <div class="row {{self.settings.custom_css_class}}">
      {% for column in self.content %}
            {% include_block column %}
      {% endfor %}
  </div>
  {% if self.fluid %}</div>{% endif %}
  {% endblock %}

</div>
