{% load wagtailcore_tags wagtailsettings_tags wagtailimages_tags coderedcms_tags i18n %}
{% load static %}
{% load sass_tags %}
{% wagtail_site as site %}
{% get_navbars as navbars %}

<nav class="navbar {% get_navbar_css %} {% if not page.cover_image %} invert {% endif %}" id="mainNav">

  {% if not settings.coderedcms.LayoutSettings.navbar_content_fluid %}
  <div class="container">
  {% endif %}

  <a class="navbar-brand" href="/">
    <img id="logo-black" src="/static/website/images/Logo_WCI_side_2.svg"> 
    <img id="logo-white" src="/static/website/images/Logo_WCI_side_white_5.svg"> 
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbar">
      {% for navbar in navbars %}
      <ul class="navbar-nav {{navbar.custom_css_class}}"
        {% if navbar.custom_id %}id="{{navbar.custom_id}}"{% endif %} >
        {% for item in navbar.menu_items %}
            {% include_block item with liclass="nav-item" aclass="nav-link js-scroll-trigger" ga_event_category="Navbar" %}
        {% endfor %}
      </ul>
      {% endfor %}

      {% if settings.coderedcms.LayoutSettings.navbar_search %}
      <form class="d-flex ms-auto" role="search" action="{% url 'crx_search' %}" method="GET">
        {% load django_bootstrap5 %}
        {% get_searchform request as form %}
        {% for field in form %}
        {% bootstrap_field field show_label=False wrapper_class=None success_css_class=None server_side_validation=False %}
        {% endfor %}
        <button class="btn btn-outline-primary ms-2" type="submit">{% trans "Search" %}</button>
      </form>
      {% endif %}
    </div>

  {% if not settings.coderedcms.LayoutSettings.navbar_content_fluid %}
  </div><!-- /.container -->
  {% endif %}
</nav>


{# Navbar offset #}
{% if settings.coderedcms.LayoutSettings.navbar_fixed and not page.cover_image %}
    {% if settings.coderedcms.LayoutSettings.logo %}
      <div class="{{settings.coderedcms.LayoutSettings.navbar_format}}-fixed-img-offset pb-3 {{settings.coderedcms.LayoutSettings.navbar_collapse_mode}}"></div>
    {% else %}
      <div class="{{settings.coderedcms.LayoutSettings.navbar_format}}-fixed-offset pb-3 {{settings.coderedcms.LayoutSettings.navbar_collapse_mode}}"></div>
    {% endif %}
{% endif %}
