{% extends "coderedcms/pages/web_page.html" %}

{% block title %}Page not found{% endblock %}

{% block body_class %}404{% endblock %}

{% block content %}
    <div class="container mt-5">
    <h1>Seite nicht gefunden</h1>
    <h2>Es tut uns leid, diese Seite konnte nicht gefunden werden </h2>
    </div>
    <hr>

    <div class="container">
        <a class="btn btn-primary float-left" href="/">&larr; Zurück</a>
    </div>
{% endblock %}
