{% load wagtailimages_tags wagtailcore_tags  %}

<div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="month">{{self.date}}</span>
                    <span class="year">{{self.year}}</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
               {{ self.content|richtext }}

            </div>
        </div>