{% extends "coderedcms/blocks/base_block.html" %}
{% load wagtailcore_tags %}

{% block block_render %}
   <div class="container">
   {% if self.heading%}
        <h2>{{self.heading}}</h2>
   {% endif %}
        <div class="main-timeline">
    {% for item in self.items %}
        {% include_block item %}
    {% endfor %}
        </div>
    </div>
{% endblock %}
